@import '../shared.scss';

nav {
    background-color: $kolorTlaNawigacji;
    color: brown;
    width: 100%;
    margin: 0;
    padding: 5px;
    font-size: $rozmiarBazowy;
}

a {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: $kolorNawigacji;
    background-color: $kolorTlaNawigacji;
}

a:hover {
    background-color: red;
    color: #fff;
}